<div class="wrapper">
    <p class="heading"> WELCOME</p>
    <div class="content">
        <ul>
            <li>Welcome Washer!</li> <br>
            <li>Dashboard providing you to edit your profile, see all your recieved wash requests and manage existing orders. </li> <br>
            <li> 
                If you are a new user, you must first create your profile, before handling your wash requests.<br> <br>
            <button class="btn btn-secondary" routerLink="../washerProfile">Create Profile</button> &nbsp;
            <button class="btn btn-info" routerLink="../washRequests">See Wash Requests</button>
            </li>
        </ul>
    </div>
</div>
